/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

.city-container {
    padding: 20px;
    height: 100vh;
    position: relative;
}

.city-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.city-container .overlay {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;

    justify-content: center;
    align-items: center;
}

.city-container:hover .overlay {
    display: flex;
}

.city-container .overlay h2 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 4px 4px black;
}